<div class="logo-bar">
  <span class="logo-wrap"><img class="logo-bar-item cfc-logo" alt="International year of plant health 2020" src="/omafra-updates/images/year-of-plant-health.png" /></span>
  <span class="logo-wrap"><img class="logo-bar-item cfc-logo" alt="Code for Canada logo" src="/omafra-updates/images/cfc-web-logo-text.png" /></span>
  <span class="logo-wrap"><img class="logo-bar-item cap-logo" alt="Canadian Agricultural Partnership logo" src="/omafra-updates/images/cap-en-fr-logo-transparent.png" /></span>
  <span class="logo-wrap"><img class="logo-bar-item on-logo" alt="Province of Ontario logo" src="/omafra-updates/images/ON-logo.png" /></span>
</div>