<script>
  var getFromNowString = date => {
    var today = Date.now()
    var diff = today - (date * 1000)
    var daysDiff = Math.trunc(diff / 86400000)
    var weeksDiff = Math.trunc(daysDiff / 7)
    var monthsDiff = Math.trunc(daysDiff / 30)
    var yearsDiff = Math.trunc(daysDiff / 365)
    
    if (yearsDiff > 0) {
      return `${ yearsDiff } year${ yearsDiff != 1 ? "s" : "" } ago`
    } else if (monthsDiff > 0) {
      return `${ monthsDiff } month${ monthsDiff != 1 ? "s" : "" } ago`
    } else if (weeksDiff > 0) {
      return `${ weeksDiff } week${ weeksDiff != 1 ? "s" : "" } ago`
    } else if (daysDiff > 0) {
      return `${ daysDiff } day${ daysDiff != 1 ? "s" : "" } ago`
    } else {
      return "today"
    }
  }

  var dates = document.getElementsByClassName("post-date")

  Array.from(dates).forEach(element => {
    element.textContent = getFromNowString(element.dataset.date)
  });
</script>